@font-face {
    font-family: 'BCcard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'BCcard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/bccard/BCcardBold.ttf') format("truetype");
    font-display: swap;
}

